@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Major Mono Display', monospace;
    /* display: grid;
    place-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.bg {
    background: url(images/ilya-bronskiy-c8pE6vzV-o8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: white;
}